@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q26xpl');
  src:  url('fonts/icomoon.eot?q26xpl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q26xpl') format('truetype'),
    url('fonts/icomoon.woff?q26xpl') format('woff'),
    url('fonts/icomoon.svg?q26xpl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lhoraine-logo:before {
  content: "\ebc9";
  color: #595959;
}
.icon-oldbutgoldshop-logo:before {
  content: "\ebca";
}
.icon-multiple-user:before {
  content: "\eb97";
}
.icon-search-user:before {
  content: "\eb98";
}
.icon-protect-user:before {
  content: "\eb99";
}
.icon-user-settings:before {
  content: "\eb9a";
}
.icon-user-circle-o:before {
  content: "\eb9b";
}
.icon-unlock-user:before {
  content: "\eb9c";
}
.icon-remove-user-2:before {
  content: "\eb9d";
}
.icon-padlock-3:before {
  content: "\eb9e";
}
.icon-padlock-2:before {
  content: "\eb9f";
}
.icon-padlock-wrong:before {
  content: "\eba0";
}
.icon-padlock:before {
  content: "\eba1";
}
.icon-multiple-user-circle-o:before {
  content: "\eba2";
}
.icon-networking:before {
  content: "\eba3";
}
.icon-user-18:before {
  content: "\eba4";
}
.icon-user-17:before {
  content: "\eba5";
}
.icon-profile-7:before {
  content: "\eba6";
}
.icon-user-lock:before {
  content: "\eba7";
}
.icon-user2-circle-o:before {
  content: "\eba8";
}
.icon-customer-support:before {
  content: "\eba9";
}
.icon-profile-6:before {
  content: "\ebaa";
}
.icon-profile-5:before {
  content: "\ebab";
}
.icon-profile-4:before {
  content: "\ebac";
}
.icon-profile-3:before {
  content: "\ebad";
}
.icon-profile-2:before {
  content: "\ebae";
}
.icon-profile-1:before {
  content: "\ebaf";
}
.icon-profile:before {
  content: "\ebb0";
}
.icon-girl-user-location:before {
  content: "\ebb1";
}
.icon-user-notification:before {
  content: "\ebb2";
}
.icon-boy-user-location:before {
  content: "\ebb3";
}
.icon-user-11:before {
  content: "\ebb4";
}
.icon-protect-boy-user:before {
  content: "\ebb5";
}
.icon-1-star-user:before {
  content: "\ebb6";
}
.icon-2-star-user:before {
  content: "\ebb7";
}
.icon-3-star-user:before {
  content: "\ebb8";
}
.icon-boy-upload:before {
  content: "\ebb9";
}
.icon-girl-upload:before {
  content: "\ebba";
}
.icon-girls-switch-user:before {
  content: "\ebbb";
}
.icon-user-switch:before {
  content: "\ebbc";
}
.icon-remove-user-1:before {
  content: "\ebbd";
}
.icon-boys-switch-user:before {
  content: "\ebbe";
}
.icon-girls-user:before {
  content: "\ebbf";
}
.icon-girl-user-unlock:before {
  content: "\ebc0";
}
.icon-girl-user-lock:before {
  content: "\ebc1";
}
.icon-girl-user-remove:before {
  content: "\ebc2";
}
.icon-girl-user-add:before {
  content: "\ebc3";
}
.icon-protect-girl-user:before {
  content: "\ebc4";
}
.icon-girl-user-settings:before {
  content: "\ebc5";
}
.icon-girl-user-search:before {
  content: "\ebc6";
}
.icon-boy-girl-users:before {
  content: "\ebc7";
}
.icon-add-user:before {
  content: "\ebc8";
}
.icon-ankle-boots:before {
  content: "\e900";
}
.icon-backpack:before {
  content: "\e901";
}
.icon-bag:before {
  content: "\e902";
}
.icon-bag-1:before {
  content: "\e903";
}
.icon-ballets-flats:before {
  content: "\e904";
}
.icon-barrel-handbag:before {
  content: "\e905";
}
.icon-belt:before {
  content: "\e906";
}
.icon-bow-tie:before {
  content: "\e907";
}
.icon-boxer:before {
  content: "\e908";
}
.icon-boyfriend-low-jean:before {
  content: "\e909";
}
.icon-briefcase:before {
  content: "\e90a";
}
.icon-bucket-bag:before {
  content: "\e90b";
}
.icon-cat-eye-glasses:before {
  content: "\e90c";
}
.icon-chiffon-dress:before {
  content: "\e90d";
}
.icon-chiffon-suffle-blouse:before {
  content: "\e90e";
}
.icon-chino-shorts:before {
  content: "\e90f";
}
.icon-chinos-pants:before {
  content: "\e910";
}
.icon-circle-skirt:before {
  content: "\e911";
}
.icon-cocktail-dress:before {
  content: "\e912";
}
.icon-collarless-cotton-shirt:before {
  content: "\e913";
}
.icon-cotton-cardigan:before {
  content: "\e914";
}
.icon-cotton-polo-shirt:before {
  content: "\e915";
}
.icon-denim-jacket:before {
  content: "\e916";
}
.icon-denim-shirt:before {
  content: "\e917";
}
.icon-denim-shorts:before {
  content: "\e918";
}
.icon-draped-top:before {
  content: "\e919";
}
.icon-drees:before {
  content: "\e91a";
}
.icon-dress:before {
  content: "\e91b";
}
.icon-dress-with-butterfly-sleeves:before {
  content: "\e91c";
}
.icon-flare-pants:before {
  content: "\e91d";
}
.icon-flat-shoes:before {
  content: "\e91e";
}
.icon-flip-flops:before {
  content: "\e91f";
}
.icon-formal-shirt:before {
  content: "\e920";
}
.icon-gladiator-sandal:before {
  content: "\e921";
}
.icon-harem-pants:before {
  content: "\e922";
}
.icon-hat:before {
  content: "\e923";
}
.icon-henley-shirt:before {
  content: "\e924";
}
.icon-high-heel:before {
  content: "\e925";
}
.icon-high-heels:before {
  content: "\e926";
}
.icon-hobo-bag:before {
  content: "\e927";
}
.icon-hooded-jacket:before {
  content: "\e928";
}
.icon-jeans:before {
  content: "\e929";
}
.icon-jersey-blazer:before {
  content: "\e92a";
}
.icon-jersey-wrap-dress:before {
  content: "\e92b";
}
.icon-jewelry-set:before {
  content: "\e92c";
}
.icon-jumpsuit:before {
  content: "\e92d";
}
.icon-knit-hat-with-pom-pom:before {
  content: "\e92e";
}
.icon-leather-biker-jacket:before {
  content: "\e92f";
}
.icon-leather-chelsea-boots:before {
  content: "\e930";
}
.icon-leather-derby-shoe:before {
  content: "\e931";
}
.icon-leather-gloves:before {
  content: "\e932";
}
.icon-leather-shoes:before {
  content: "\e933";
}
.icon-leggins:before {
  content: "\e934";
}
.icon-lingerine-set:before {
  content: "\e935";
}
.icon-loafer:before {
  content: "\e936";
}
.icon-long-bandeau-dress:before {
  content: "\e937";
}
.icon-long-sleeveless-dress:before {
  content: "\e938";
}
.icon-long-sleeves-t-shirt:before {
  content: "\e939";
}
.icon-lyocell-shirt-dress:before {
  content: "\e93a";
}
.icon-mannequin:before {
  content: "\e93b";
}
.icon-men-hat:before {
  content: "\e93c";
}
.icon-men-socks:before {
  content: "\e93d";
}
.icon-messenger-bag:before {
  content: "\e93e";
}
.icon-nylon-jacket:before {
  content: "\e93f";
}
.icon-off-the-shoulder-dress:before {
  content: "\e940";
}
.icon-one-shoulder-dress:before {
  content: "\e941";
}
.icon-oxford-wave-blazer:before {
  content: "\e942";
}
.icon-oxford-wave-suit-pants:before {
  content: "\e943";
}
.icon-padded-vest:before {
  content: "\e944";
}
.icon-pants:before {
  content: "\e945";
}
.icon-pegged-pants:before {
  content: "\e946";
}
.icon-peplum-skirt:before {
  content: "\e947";
}
.icon-peplum-skirt-1:before {
  content: "\e948";
}
.icon-peplum-top:before {
  content: "\e949";
}
.icon-pilot-sunglasses:before {
  content: "\e94a";
}
.icon-platform-sandals:before {
  content: "\e94b";
}
.icon-purse:before {
  content: "\e94c";
}
.icon-rain-boots:before {
  content: "\e94d";
}
.icon-scarf-on-hanger:before {
  content: "\e94e";
}
.icon-shopping-bag:before {
  content: "\e94f";
}
.icon-shutter-sunglasses:before {
  content: "\e950";
}
.icon-sleepers:before {
  content: "\e951";
}
.icon-slim-fit-pants:before {
  content: "\e952";
}
.icon-slit-skirt:before {
  content: "\e953";
}
.icon-sneaker:before {
  content: "\e954";
}
.icon-sneakers:before {
  content: "\e955";
}
.icon-sweater:before {
  content: "\e956";
}
.icon-sweatpants:before {
  content: "\e957";
}
.icon-tank-top:before {
  content: "\e958";
}
.icon-tie:before {
  content: "\e959";
}
.icon-trench-coat:before {
  content: "\e95a";
}
.icon-t-shirt-with-design:before {
  content: "\e95b";
}
.icon-tulle-skirt:before {
  content: "\e95c";
}
.icon-vest:before {
  content: "\e95d";
}
.icon-v-neck-shirt:before {
  content: "\e95e";
}
.icon-watches:before {
  content: "\e95f";
}
.icon-winter-hat:before {
  content: "\e960";
}
.icon-women-socks:before {
  content: "\e961";
}
.icon-wool-boots:before {
  content: "\e962";
}
.icon-wool-gloves:before {
  content: "\e963";
}
.icon-analysis:before {
  content: "\e964";
}
.icon-analysis-1:before {
  content: "\e965";
}
.icon-approve:before {
  content: "\e966";
}
.icon-attach:before {
  content: "\e967";
}
.icon-attractive:before {
  content: "\e968";
}
.icon-brainstorming:before {
  content: "\e969";
}
.icon-broken-link:before {
  content: "\e96a";
}
.icon-chat:before {
  content: "\e96b";
}
.icon-chronometer:before {
  content: "\e96c";
}
.icon-compass:before {
  content: "\e96d";
}
.icon-competition:before {
  content: "\e96e";
}
.icon-content:before {
  content: "\e96f";
}
.icon-design-tool:before {
  content: "\e970";
}
.icon-grid:before {
  content: "\e971";
}
.icon-headphones:before {
  content: "\e972";
}
.icon-html:before {
  content: "\e973";
}
.icon-image:before {
  content: "\e974";
}
.icon-layout:before {
  content: "\e975";
}
.icon-loading:before {
  content: "\e976";
}
.icon-login:before {
  content: "\e977";
}
.icon-pantone:before {
  content: "\e978";
}
.icon-paper-plane:before {
  content: "\e979";
}
.icon-photo-camera:before {
  content: "\e97a";
}
.icon-piggy-bank:before {
  content: "\e97b";
}
.icon-pipette:before {
  content: "\e97c";
}
.icon-pixel:before {
  content: "\e97d";
}
.icon-placeholder:before {
  content: "\e97e";
}
.icon-planning:before {
  content: "\e97f";
}
.icon-promotion:before {
  content: "\e980";
}
.icon-pyramid:before {
  content: "\e981";
}
.icon-quality:before {
  content: "\e982";
}
.icon-responsive:before {
  content: "\e983";
}
.icon-schedule:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e985";
}
.icon-security:before {
  content: "\e986";
}
.icon-settings:before {
  content: "\e987";
}
.icon-sitemap:before {
  content: "\e988";
}
.icon-startup:before {
  content: "\e989";
}
.icon-support:before {
  content: "\e98a";
}
.icon-tap:before {
  content: "\e98b";
}
.icon-target:before {
  content: "\e98c";
}
.icon-targeting:before {
  content: "\e98d";
}
.icon-task:before {
  content: "\e98e";
}
.icon-testing:before {
  content: "\e98f";
}
.icon-text:before {
  content: "\e990";
}
.icon-timeline:before {
  content: "\e991";
}
.icon-tools:before {
  content: "\e992";
}
.icon-upload:before {
  content: "\e993";
}
.icon-vector:before {
  content: "\e994";
}
.icon-video-player:before {
  content: "\e995";
}
.icon-yen-1:before {
  content: "\e996";
}
.icon-yen:before {
  content: "\e997";
}
.icon-wallet-7:before {
  content: "\e998";
}
.icon-balance-1:before {
  content: "\e999";
}
.icon-shopping-cart-10:before {
  content: "\e99a";
}
.icon-shopping-basket-7:before {
  content: "\e99b";
}
.icon-shopping-basket-6:before {
  content: "\e99c";
}
.icon-shopping-basket-5:before {
  content: "\e99d";
}
.icon-shopping-bag-4:before {
  content: "\e99e";
}
.icon-shopping-cart-9:before {
  content: "\e99f";
}
.icon-shipping-8:before {
  content: "\e9a0";
}
.icon-safebox:before {
  content: "\e9a1";
}
.icon-wallet-6:before {
  content: "\e9a2";
}
.icon-shopping-cart-8:before {
  content: "\e9a3";
}
.icon-piggy-bank-7:before {
  content: "\e9a4";
}
.icon-shipping-7:before {
  content: "\e9a5";
}
.icon-percentage-4:before {
  content: "\e9a6";
}
.icon-piggy-bank-6:before {
  content: "\e9a7";
}
.icon-piggy-bank-5:before {
  content: "\e9a8";
}
.icon-peso-1:before {
  content: "\e9a9";
}
.icon-peso:before {
  content: "\e9aa";
}
.icon-percentage-3:before {
  content: "\e9ab";
}
.icon-percentage-2:before {
  content: "\e9ac";
}
.icon-percentage-1:before {
  content: "\e9ad";
}
.icon-credit-card-11:before {
  content: "\e9ae";
}
.icon-money-5:before {
  content: "\e9af";
}
.icon-percentage:before {
  content: "\e9b0";
}
.icon-wallet-5:before {
  content: "\e9b1";
}
.icon-shopping-cart-7:before {
  content: "\e9b2";
}
.icon-piggy-bank-4:before {
  content: "\e9b3";
}
.icon-shipping-6:before {
  content: "\e9b4";
}
.icon-wallet-4:before {
  content: "\e9b5";
}
.icon-shopping-cart-6:before {
  content: "\e9b6";
}
.icon-shopping-basket-4:before {
  content: "\e9b7";
}
.icon-balance:before {
  content: "\e9b8";
}
.icon-euro-1:before {
  content: "\e9b9";
}
.icon-euro:before {
  content: "\e9ba";
}
.icon-money-bag-1:before {
  content: "\e9bb";
}
.icon-dollar:before {
  content: "\e9bc";
}
.icon-dollar-symbol:before {
  content: "\e9bd";
}
.icon-wallet-3:before {
  content: "\e9be";
}
.icon-shopping-basket-3:before {
  content: "\e9bf";
}
.icon-shopping-bag-3:before {
  content: "\e9c0";
}
.icon-piggy-bank-3:before {
  content: "\e9c1";
}
.icon-credit-card-10:before {
  content: "\e9c2";
}
.icon-shipping-5:before {
  content: "\e9c3";
}
.icon-shopping-cart-5:before {
  content: "\e9c4";
}
.icon-credit-card-9:before {
  content: "\e9c5";
}
.icon-credit-card-8:before {
  content: "\e9c6";
}
.icon-credit-card-7:before {
  content: "\e9c7";
}
.icon-credit-card-6:before {
  content: "\e9c8";
}
.icon-shipping-4:before {
  content: "\e9c9";
}
.icon-wallet-2:before {
  content: "\e9ca";
}
.icon-shopping-basket-2:before {
  content: "\e9cb";
}
.icon-shopping-bag-2:before {
  content: "\e9cc";
}
.icon-piggy-bank-2:before {
  content: "\e9cd";
}
.icon-credit-card-5:before {
  content: "\e9ce";
}
.icon-shipping-3:before {
  content: "\e9cf";
}
.icon-shopping-cart-4:before {
  content: "\e9d0";
}
.icon-coin-4:before {
  content: "\e9d1";
}
.icon-coin-3:before {
  content: "\e9d2";
}
.icon-coin-2:before {
  content: "\e9d3";
}
.icon-coin-1:before {
  content: "\e9d4";
}
.icon-coin:before {
  content: "\e9d5";
}
.icon-purse2:before {
  content: "\e9d6";
}
.icon-cashier-machine:before {
  content: "\e9d7";
}
.icon-money-4:before {
  content: "\e9d8";
}
.icon-money-3:before {
  content: "\e9d9";
}
.icon-money-2:before {
  content: "\e9da";
}
.icon-wallet-1:before {
  content: "\e9db";
}
.icon-shopping-basket-1:before {
  content: "\e9dc";
}
.icon-shopping-bag-1:before {
  content: "\e9dd";
}
.icon-piggy-bank-1:before {
  content: "\e9de";
}
.icon-credit-card-4:before {
  content: "\e9df";
}
.icon-shipping-2:before {
  content: "\e9e0";
}
.icon-shopping-cart-3:before {
  content: "\e9e1";
}
.icon-pound-sterling-1:before {
  content: "\e9e2";
}
.icon-pound-sterling:before {
  content: "\e9e3";
}
.icon-shopping-cart-2:before {
  content: "\e9e4";
}
.icon-shipping-1:before {
  content: "\e9e5";
}
.icon-money-bag:before {
  content: "\e9e6";
}
.icon-money-1:before {
  content: "\e9e7";
}
.icon-credit-card-3:before {
  content: "\e9e8";
}
.icon-coins-1:before {
  content: "\e9e9";
}
.icon-credit-card-2:before {
  content: "\e9ea";
}
.icon-coins:before {
  content: "\e9eb";
}
.icon-money:before {
  content: "\e9ec";
}
.icon-shopping-cart-1:before {
  content: "\e9ed";
}
.icon-credit-card-1:before {
  content: "\e9ee";
}
.icon-shipping:before {
  content: "\e9ef";
}
.icon-wallet:before {
  content: "\e9f0";
}
.icon-shopping-basket:before {
  content: "\e9f1";
}
.icon-shopping-bag2:before {
  content: "\e9f2";
}
.icon-piggy-bank2:before {
  content: "\e9f3";
}
.icon-credit-card:before {
  content: "\e9f4";
}
.icon-package:before {
  content: "\e9f5";
}
.icon-shopping-cart:before {
  content: "\e9f6";
}
.icon-detour-2:before {
  content: "\e9f7";
}
.icon-detour-3:before {
  content: "\e9f8";
}
.icon-detour-4:before {
  content: "\e9f9";
}
.icon-detour-5:before {
  content: "\e9fa";
}
.icon-diagonal-arrow:before {
  content: "\e9fb";
}
.icon-diagonal-arrow-1:before {
  content: "\e9fc";
}
.icon-diagonal-arrow-2:before {
  content: "\e9fd";
}
.icon-diagonal-arrow-3:before {
  content: "\e9fe";
}
.icon-diagonal-arrow-4:before {
  content: "\e9ff";
}
.icon-diagonal-arrow-5:before {
  content: "\ea00";
}
.icon-dislike:before {
  content: "\ea01";
}
.icon-double-arrow:before {
  content: "\ea02";
}
.icon-double-arrow-1:before {
  content: "\ea03";
}
.icon-down-arrow:before {
  content: "\ea04";
}
.icon-down-arrow-1:before {
  content: "\ea05";
}
.icon-down-arrow-2:before {
  content: "\ea06";
}
.icon-down-arrow-3:before {
  content: "\ea07";
}
.icon-down-arrow-4:before {
  content: "\ea08";
}
.icon-download:before {
  content: "\ea09";
}
.icon-download-1:before {
  content: "\ea0a";
}
.icon-download-2:before {
  content: "\ea0b";
}
.icon-equal:before {
  content: "\ea0c";
}
.icon-fast-forward:before {
  content: "\ea0d";
}
.icon-finger:before {
  content: "\ea0e";
}
.icon-focus:before {
  content: "\ea0f";
}
.icon-focus-1:before {
  content: "\ea10";
}
.icon-focus-2:before {
  content: "\ea11";
}
.icon-focus-3:before {
  content: "\ea12";
}
.icon-focus-4:before {
  content: "\ea13";
}
.icon-hand-gesture:before {
  content: "\ea14";
}
.icon-hand-gesture-1:before {
  content: "\ea15";
}
.icon-hand-gesture-2:before {
  content: "\ea16";
}
.icon-hand-gesture-3:before {
  content: "\ea17";
}
.icon-hand-gesture-4:before {
  content: "\ea18";
}
.icon-hand-gesture-5:before {
  content: "\ea19";
}
.icon-hand-gesture-6:before {
  content: "\ea1a";
}
.icon-hold:before {
  content: "\ea1b";
}
.icon-hold-1:before {
  content: "\ea1c";
}
.icon-infinite:before {
  content: "\ea1d";
}
.icon-interface:before {
  content: "\ea1e";
}
.icon-intersection:before {
  content: "\ea1f";
}
.icon-left-arrow:before {
  content: "\ea20";
}
.icon-left-arrow-1:before {
  content: "\ea21";
}
.icon-left-arrow-2:before {
  content: "\ea22";
}
.icon-left-arrow-3:before {
  content: "\ea23";
}
.icon-left-arrow-4:before {
  content: "\ea24";
}
.icon-left-arrow-5:before {
  content: "\ea25";
}
.icon-left-arrow-6:before {
  content: "\ea26";
}
.icon-left-arrow-7:before {
  content: "\ea27";
}
.icon-maze:before {
  content: "\ea28";
}
.icon-maze-1:before {
  content: "\ea29";
}
.icon-maze-2:before {
  content: "\ea2a";
}
.icon-next:before {
  content: "\ea2b";
}
.icon-paragraph:before {
  content: "\ea2c";
}
.icon-pointing-down:before {
  content: "\ea2d";
}
.icon-pointing-left:before {
  content: "\ea2e";
}
.icon-pointing-right:before {
  content: "\ea2f";
}
.icon-pointing-right-1:before {
  content: "\ea30";
}
.icon-pointing-right-2:before {
  content: "\ea31";
}
.icon-pointing-right-3:before {
  content: "\ea32";
}
.icon-pointing-right-4:before {
  content: "\ea33";
}
.icon-pointing-right-5:before {
  content: "\ea34";
}
.icon-pointing-right-6:before {
  content: "\ea35";
}
.icon-pointing-right-7:before {
  content: "\ea36";
}
.icon-pointing-right-8:before {
  content: "\ea37";
}
.icon-pointing-right-9:before {
  content: "\ea38";
}
.icon-pointing-right-10:before {
  content: "\ea39";
}
.icon-pointing-right-11:before {
  content: "\ea3a";
}
.icon-pointing-up:before {
  content: "\ea3b";
}
.icon-pointing-up-1:before {
  content: "\ea3c";
}
.icon-pointing-up-2:before {
  content: "\ea3d";
}
.icon-pointing-up-3:before {
  content: "\ea3e";
}
.icon-pointing-up-4:before {
  content: "\ea3f";
}
.icon-pointing-up-5:before {
  content: "\ea40";
}
.icon-pointing-up-6:before {
  content: "\ea41";
}
.icon-redo:before {
  content: "\ea42";
}
.icon-refresh:before {
  content: "\ea43";
}
.icon-refresh-1:before {
  content: "\ea44";
}
.icon-refresh-2:before {
  content: "\ea45";
}
.icon-refresh-3:before {
  content: "\ea46";
}
.icon-refresh-4:before {
  content: "\ea47";
}
.icon-refresh-5:before {
  content: "\ea48";
}
.icon-refresh-6:before {
  content: "\ea49";
}
.icon-refresh-7:before {
  content: "\ea4a";
}
.icon-repeat:before {
  content: "\ea4b";
}
.icon-rewind:before {
  content: "\ea4c";
}
.icon-right-arrow:before {
  content: "\ea4d";
}
.icon-right-arrow-1:before {
  content: "\ea4e";
}
.icon-right-arrow-2:before {
  content: "\ea4f";
}
.icon-right-arrow-3:before {
  content: "\ea50";
}
.icon-right-arrow-4:before {
  content: "\ea51";
}
.icon-right-arrow-5:before {
  content: "\ea52";
}
.icon-right-arrow-6:before {
  content: "\ea53";
}
.icon-right-arrow-7:before {
  content: "\ea54";
}
.icon-route:before {
  content: "\ea55";
}
.icon-route-1:before {
  content: "\ea56";
}
.icon-route-2:before {
  content: "\ea57";
}
.icon-route-3:before {
  content: "\ea58";
}
.icon-route-4:before {
  content: "\ea59";
}
.icon-scroll:before {
  content: "\ea5a";
}
.icon-shuffle:before {
  content: "\ea5b";
}
.icon-shuffle-1:before {
  content: "\ea5c";
}
.icon-square-root:before {
  content: "\ea5d";
}
.icon-swap:before {
  content: "\ea5e";
}
.icon-tag:before {
  content: "\ea5f";
}
.icon-tag-1:before {
  content: "\ea60";
}
.icon-tag-2:before {
  content: "\ea61";
}
.icon-tag-3:before {
  content: "\ea62";
}
.icon-tap2:before {
  content: "\ea63";
}
.icon-tap-1:before {
  content: "\ea64";
}
.icon-tap-2:before {
  content: "\ea65";
}
.icon-tap-3:before {
  content: "\ea66";
}
.icon-up-arrow:before {
  content: "\ea67";
}
.icon-up-arrow-1:before {
  content: "\ea68";
}
.icon-up-arrow-2:before {
  content: "\ea69";
}
.icon-up-arrow-3:before {
  content: "\ea6a";
}
.icon-up-arrow-4:before {
  content: "\ea6b";
}
.icon-up-arrow-5:before {
  content: "\ea6c";
}
.icon-up-arrow-6:before {
  content: "\ea6d";
}
.icon-up-arrow-7:before {
  content: "\ea6e";
}
.icon-zoom-in:before {
  content: "\ea6f";
}
.icon-zoom-in-1:before {
  content: "\ea70";
}
.icon-zoom-in-2:before {
  content: "\ea71";
}
.icon-zoom-in-3:before {
  content: "\ea72";
}
.icon-ax:before {
  content: "\ea73";
}
.icon-back:before {
  content: "\ea74";
}
.icon-detour:before {
  content: "\ea75";
}
.icon-detour-1:before {
  content: "\ea76";
}
.icon-apple:before {
  content: "\ea77";
}
.icon-appneta:before {
  content: "\ea78";
}
.icon-asana:before {
  content: "\ea79";
}
.icon-behance:before {
  content: "\ea7a";
}
.icon-bing:before {
  content: "\ea7b";
}
.icon-bitbucket:before {
  content: "\ea7c";
}
.icon-blogger:before {
  content: "\ea7d";
}
.icon-chime:before {
  content: "\ea7e";
}
.icon-coderwall:before {
  content: "\ea7f";
}
.icon-delicious:before {
  content: "\ea80";
}
.icon-disqus:before {
  content: "\ea81";
}
.icon-dribbble:before {
  content: "\ea82";
}
.icon-drive:before {
  content: "\ea83";
}
.icon-dropbox:before {
  content: "\ea84";
}
.icon-ello:before {
  content: "\ea85";
}
.icon-envato:before {
  content: "\ea86";
}
.icon-facebook:before {
  content: "\ea87";
}
.icon-feedburner:before {
  content: "\ea88";
}
.icon-finder:before {
  content: "\ea89";
}
.icon-flickr:before {
  content: "\ea8a";
}
.icon-forrst:before {
  content: "\ea8b";
}
.icon-foursquare:before {
  content: "\ea8c";
}
.icon-github:before {
  content: "\ea8d";
}
.icon-google-plus:before {
  content: "\ea8e";
}
.icon-grooveshark:before {
  content: "\ea8f";
}
.icon-houzz:before {
  content: "\ea90";
}
.icon-ibooks:before {
  content: "\ea91";
}
.icon-icloud:before {
  content: "\ea92";
}
.icon-instagram:before {
  content: "\ea93";
}
.icon-linkedin:before {
  content: "\ea94";
}
.icon-lynard:before {
  content: "\ea95";
}
.icon-mailbox:before {
  content: "\ea96";
}
.icon-marketo:before {
  content: "\ea97";
}
.icon-microsoft:before {
  content: "\ea98";
}
.icon-mixpanel:before {
  content: "\ea99";
}
.icon-music:before {
  content: "\ea9a";
}
.icon-office:before {
  content: "\ea9b";
}
.icon-paypal:before {
  content: "\ea9c";
}
.icon-peek:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\ea9e";
}
.icon-playstore:before {
  content: "\ea9f";
}
.icon-quora:before {
  content: "\eaa0";
}
.icon-sharethis:before {
  content: "\eaa1";
}
.icon-shazam:before {
  content: "\eaa2";
}
.icon-sketch:before {
  content: "\eaa3";
}
.icon-skype:before {
  content: "\eaa4";
}
.icon-smug:before {
  content: "\eaa5";
}
.icon-soundcloud:before {
  content: "\eaa6";
}
.icon-spotify:before {
  content: "\eaa7";
}
.icon-steam:before {
  content: "\eaa8";
}
.icon-swarm:before {
  content: "\eaa9";
}
.icon-swift:before {
  content: "\eaaa";
}
.icon-testflight:before {
  content: "\eaab";
}
.icon-tumblr:before {
  content: "\eaac";
}
.icon-twitch:before {
  content: "\eaad";
}
.icon-twitter:before {
  content: "\eaae";
}
.icon-uber:before {
  content: "\eaaf";
}
.icon-ui8:before {
  content: "\eab0";
}
.icon-utorrent:before {
  content: "\eab1";
}
.icon-viber:before {
  content: "\eab2";
}
.icon-vimeo:before {
  content: "\eab3";
}
.icon-whatsapp:before {
  content: "\eab4";
}
.icon-windows:before {
  content: "\eab5";
}
.icon-wunderlist:before {
  content: "\eab6";
}
.icon-xing:before {
  content: "\eab7";
}
.icon-yelp:before {
  content: "\eab8";
}
.icon-youtube:before {
  content: "\eab9";
}
.icon-zen:before {
  content: "\eaba";
}
.icon-aim:before {
  content: "\eabb";
}
.icon-airbnb:before {
  content: "\eabc";
}
.icon-android:before {
  content: "\eabd";
}
.icon-airplane:before {
  content: "\eabe";
}
.icon-alarm-clock:before {
  content: "\eabf";
}
.icon-backpack2:before {
  content: "\eac0";
}
.icon-bed:before {
  content: "\eac1";
}
.icon-bicycle:before {
  content: "\eac2";
}
.icon-birthday:before {
  content: "\eac3";
}
.icon-book:before {
  content: "\eac4";
}
.icon-bowling:before {
  content: "\eac5";
}
.icon-breakfast:before {
  content: "\eac6";
}
.icon-buggy:before {
  content: "\eac7";
}
.icon-bus:before {
  content: "\eac8";
}
.icon-calendar:before {
  content: "\eac9";
}
.icon-camping:before {
  content: "\eaca";
}
.icon-cleaning:before {
  content: "\eacb";
}
.icon-clothes:before {
  content: "\eacc";
}
.icon-computer:before {
  content: "\eacd";
}
.icon-cooking:before {
  content: "\eace";
}
.icon-cosmetics:before {
  content: "\eacf";
}
.icon-detergent:before {
  content: "\ead0";
}
.icon-dinner:before {
  content: "\ead1";
}
.icon-electric-guitar:before {
  content: "\ead2";
}
.icon-garden:before {
  content: "\ead3";
}
.icon-gymnastics:before {
  content: "\ead4";
}
.icon-headphones2:before {
  content: "\ead5";
}
.icon-holiday:before {
  content: "\ead6";
}
.icon-ice-cream:before {
  content: "\ead7";
}
.icon-improvement:before {
  content: "\ead8";
}
.icon-juice:before {
  content: "\ead9";
}
.icon-karaoke:before {
  content: "\eada";
}
.icon-key:before {
  content: "\eadb";
}
.icon-kite:before {
  content: "\eadc";
}
.icon-list:before {
  content: "\eadd";
}
.icon-mobile-phone:before {
  content: "\eade";
}
.icon-photo-camera2:before {
  content: "\eadf";
}
.icon-picnic:before {
  content: "\eae0";
}
.icon-roller-skate:before {
  content: "\eae1";
}
.icon-scooter:before {
  content: "\eae2";
}
.icon-shirt:before {
  content: "\eae3";
}
.icon-shopping-bag3:before {
  content: "\eae4";
}
.icon-shower:before {
  content: "\eae5";
}
.icon-stove:before {
  content: "\eae6";
}
.icon-suitcase:before {
  content: "\eae7";
}
.icon-tablet:before {
  content: "\eae8";
}
.icon-teeth-cleaning:before {
  content: "\eae9";
}
.icon-television:before {
  content: "\eaea";
}
.icon-toilet-paper:before {
  content: "\eaeb";
}
.icon-umbrellas:before {
  content: "\eaec";
}
.icon-wallet2:before {
  content: "\eaed";
}
.icon-water:before {
  content: "\eaee";
}
.icon-workplace:before {
  content: "\eaef";
}
.icon-alarm-clock2:before {
  content: "\eaf0";
}
.icon-apps:before {
  content: "\eaf1";
}
.icon-apps-1:before {
  content: "\eaf2";
}
.icon-bag2:before {
  content: "\eaf3";
}
.icon-basket:before {
  content: "\eaf4";
}
.icon-bell:before {
  content: "\eaf5";
}
.icon-bluetooth:before {
  content: "\eaf6";
}
.icon-book2:before {
  content: "\eaf7";
}
.icon-bookmark:before {
  content: "\eaf8";
}
.icon-browser:before {
  content: "\eaf9";
}
.icon-calendar2:before {
  content: "\eafa";
}
.icon-calendar-1:before {
  content: "\eafb";
}
.icon-charging-battery:before {
  content: "\eafc";
}
.icon-clip:before {
  content: "\eafd";
}
.icon-clock:before {
  content: "\eafe";
}
.icon-cloud:before {
  content: "\eaff";
}
.icon-code:before {
  content: "\eb00";
}
.icon-compass2:before {
  content: "\eb01";
}
.icon-decrease:before {
  content: "\eb02";
}
.icon-diamond:before {
  content: "\eb03";
}
.icon-document:before {
  content: "\eb04";
}
.icon-downloading:before {
  content: "\eb05";
}
.icon-eye:before {
  content: "\eb06";
}
.icon-eye-closed:before {
  content: "\eb07";
}
.icon-feather:before {
  content: "\eb08";
}
.icon-file:before {
  content: "\eb09";
}
.icon-files:before {
  content: "\eb0a";
}
.icon-flag:before {
  content: "\eb0b";
}
.icon-folder:before {
  content: "\eb0c";
}
.icon-folders:before {
  content: "\eb0d";
}
.icon-garbage:before {
  content: "\eb0e";
}
.icon-half-battery:before {
  content: "\eb0f";
}
.icon-headphones3:before {
  content: "\eb10";
}
.icon-heart:before {
  content: "\eb11";
}
.icon-home:before {
  content: "\eb12";
}
.icon-home-1:before {
  content: "\eb13";
}
.icon-hourglass:before {
  content: "\eb14";
}
.icon-image2:before {
  content: "\eb15";
}
.icon-increase:before {
  content: "\eb16";
}
.icon-key2:before {
  content: "\eb17";
}
.icon-letter:before {
  content: "\eb18";
}
.icon-lifebuoy:before {
  content: "\eb19";
}
.icon-lightning:before {
  content: "\eb1a";
}
.icon-link:before {
  content: "\eb1b";
}
.icon-list2:before {
  content: "\eb1c";
}
.icon-list-1:before {
  content: "\eb1d";
}
.icon-lock:before {
  content: "\eb1e";
}
.icon-magnifiying-glass:before {
  content: "\eb1f";
}
.icon-man:before {
  content: "\eb20";
}
.icon-man-1:before {
  content: "\eb21";
}
.icon-maximinize:before {
  content: "\eb22";
}
.icon-megaphone:before {
  content: "\eb23";
}
.icon-message:before {
  content: "\eb24";
}
.icon-message-1:before {
  content: "\eb25";
}
.icon-microphone:before {
  content: "\eb26";
}
.icon-minimize:before {
  content: "\eb27";
}
.icon-moon:before {
  content: "\eb28";
}
.icon-networking2:before {
  content: "\eb29";
}
.icon-note:before {
  content: "\eb2a";
}
.icon-open-lock:before {
  content: "\eb2b";
}
.icon-paper-plane2:before {
  content: "\eb2c";
}
.icon-pencil:before {
  content: "\eb2d";
}
.icon-pencil-1:before {
  content: "\eb2e";
}
.icon-phone-receiver:before {
  content: "\eb2f";
}
.icon-photo-camera3:before {
  content: "\eb30";
}
.icon-pin:before {
  content: "\eb31";
}
.icon-pin-1:before {
  content: "\eb32";
}
.icon-printer:before {
  content: "\eb33";
}
.icon-record:before {
  content: "\eb34";
}
.icon-regulation:before {
  content: "\eb35";
}
.icon-regulation-1:before {
  content: "\eb36";
}
.icon-save:before {
  content: "\eb37";
}
.icon-server:before {
  content: "\eb38";
}
.icon-server-1:before {
  content: "\eb39";
}
.icon-settings2:before {
  content: "\eb3a";
}
.icon-shield:before {
  content: "\eb3b";
}
.icon-shopping-cart2:before {
  content: "\eb3c";
}
.icon-signal:before {
  content: "\eb3d";
}
.icon-slider:before {
  content: "\eb3e";
}
.icon-sliders:before {
  content: "\eb3f";
}
.icon-sound:before {
  content: "\eb40";
}
.icon-speedometer:before {
  content: "\eb41";
}
.icon-speedometer-1:before {
  content: "\eb42";
}
.icon-star:before {
  content: "\eb43";
}
.icon-stopwatch:before {
  content: "\eb44";
}
.icon-store:before {
  content: "\eb45";
}
.icon-sun:before {
  content: "\eb46";
}
.icon-tabs:before {
  content: "\eb47";
}
.icon-tag2:before {
  content: "\eb48";
}
.icon-telephone:before {
  content: "\eb49";
}
.icon-umbrella:before {
  content: "\eb4a";
}
.icon-unlink:before {
  content: "\eb4b";
}
.icon-uploading:before {
  content: "\eb4c";
}
.icon-video-camera:before {
  content: "\eb4d";
}
.icon-wifi:before {
  content: "\eb4e";
}
.icon-woman:before {
  content: "\eb4f";
}
.icon-woman-1:before {
  content: "\eb50";
}
.icon-world:before {
  content: "\eb51";
}
.icon-wrench:before {
  content: "\eb52";
}
.icon-address-book:before {
  content: "\eb53";
}
.icon-mondex-logo:before {
  content: "\eb54";
}
.icon-gift-card-pay-logo:before {
  content: "\eb55";
}
.icon-popmoney-pay-logo:before {
  content: "\eb56";
}
.icon-pay-point-logo:before {
  content: "\eb57";
}
.icon-asia-pay-logo:before {
  content: "\eb58";
}
.icon-amazon-logo:before {
  content: "\eb59";
}
.icon-truste-pay-logo:before {
  content: "\eb5a";
}
.icon-dwolla-logo:before {
  content: "\eb5b";
}
.icon-vindicia-pay-logo:before {
  content: "\eb5c";
}
.icon-diners-club-pay-logo:before {
  content: "\eb5d";
}
.icon-atos-pay-logo:before {
  content: "\eb5e";
}
.icon-verisign-logo:before {
  content: "\eb5f";
}
.icon-eco-pay-logo:before {
  content: "\eb60";
}
.icon-western-union-money-transfer-logo:before {
  content: "\eb61";
}
.icon-bips-pay-logo:before {
  content: "\eb62";
}
.icon-ebay-logo:before {
  content: "\eb63";
}
.icon-solo-pay-logo:before {
  content: "\eb64";
}
.icon-sage-pay-logo:before {
  content: "\eb65";
}
.icon-timwe-logo:before {
  content: "\eb66";
}
.icon-recurly-pay-logo:before {
  content: "\eb67";
}
.icon-verifone-pay-logo:before {
  content: "\eb68";
}
.icon-webmoney-paying-logo:before {
  content: "\eb69";
}
.icon-neteller-logo:before {
  content: "\eb6a";
}
.icon-eps-paying-logo:before {
  content: "\eb6b";
}
.icon-wepay-pay-logo:before {
  content: "\eb6c";
}
.icon-american-express-logo:before {
  content: "\eb6d";
}
.icon-unionpay-logo:before {
  content: "\eb6e";
}
.icon-delta-pay-logo:before {
  content: "\eb6f";
}
.icon-visa-pay-logo:before {
  content: "\eb70";
}
.icon-google-wallet-pay-logo:before {
  content: "\eb71";
}
.icon-ogone-payments-logo:before {
  content: "\eb72";
}
.icon-eway-pay-logo:before {
  content: "\eb73";
}
.icon-hsbc-logo:before {
  content: "\eb74";
}
.icon-realex-payments-logo:before {
  content: "\eb75";
}
.icon-cirrus-pay-logo:before {
  content: "\eb76";
}
.icon-wirecard-pay-logo:before {
  content: "\eb77";
}
.icon-ukash-logo:before {
  content: "\eb78";
}
.icon-jcb-pay-logo-symbol:before {
  content: "\eb79";
}
.icon-klarna-logo:before {
  content: "\eb7a";
}
.icon-citibank-logo:before {
  content: "\eb7b";
}
.icon-switch-pay-logo:before {
  content: "\eb7c";
}
.icon-yandex-pay-logo:before {
  content: "\eb7d";
}
.icon-wire-transfer-logo:before {
  content: "\eb7e";
}
.icon-paysafecard-logo:before {
  content: "\eb7f";
}
.icon-paymate-logo:before {
  content: "\eb80";
}
.icon-payza-logo:before {
  content: "\eb81";
}
.icon-master-card-logo:before {
  content: "\eb82";
}
.icon-heartland-pay-logo:before {
  content: "\eb83";
}
.icon-maestro-pay-logo:before {
  content: "\eb84";
}
.icon-worldpay-logo:before {
  content: "\eb85";
}
.icon-square-pay-logo:before {
  content: "\eb86";
}
.icon-2-checkout-pay-logo:before {
  content: "\eb87";
}
.icon-credit-card2:before {
  content: "\eb88";
}
.icon-direct-debit-logo-symbol:before {
  content: "\eb89";
}
.icon-payoneer-logo:before {
  content: "\eb8a";
}
.icon-bbb-better-business-bureau-logo-with-a-flame:before {
  content: "\eb8b";
}
.icon-laser-pay-logo:before {
  content: "\eb8c";
}
.icon-discover-logo-of-pay-system:before {
  content: "\eb8d";
}
.icon-telecheck-logo:before {
  content: "\eb8e";
}
.icon-bank-transfer-logo:before {
  content: "\eb8f";
}
.icon-stripe-logo:before {
  content: "\eb90";
}
.icon-paypal-logo:before {
  content: "\eb91";
}
.icon-euronet-pay-logo:before {
  content: "\eb92";
}
.icon-bpay-logo:before {
  content: "\eb93";
}
.icon-electronic-cash-logo:before {
  content: "\eb94";
}
.icon-clickandbuy-logo:before {
  content: "\eb95";
}
.icon-izettle-logo:before {
  content: "\eb96";
}
.icon-d-paper-glasses:before {
  content: "\ebcb";
}
.icon-d-printer:before {
  content: "\ebcc";
}
.icon-d-screen:before {
  content: "\ebcd";
}
.icon-airplane-flying:before {
  content: "\ebce";
}
.icon-antenna-signal:before {
  content: "\ebcf";
}
.icon-apple-tv:before {
  content: "\ebd0";
}
.icon-applewatch:before {
  content: "\ebd1";
}
.icon-back-camera:before {
  content: "\ebd2";
}
.icon-barcode-scanner:before {
  content: "\ebd3";
}
.icon-big-battery:before {
  content: "\ebd4";
}
.icon-big-chip:before {
  content: "\ebd5";
}
.icon-big-dvd:before {
  content: "\ebd6";
}
.icon-big-electric-fan:before {
  content: "\ebd7";
}
.icon-big-floppy-disk:before {
  content: "\ebd8";
}
.icon-big-ipod:before {
  content: "\ebd9";
}
.icon-big-joystick:before {
  content: "\ebda";
}
.icon-big-light-bulb:before {
  content: "\ebdb";
}
.icon-big-lock:before {
  content: "\ebdc";
}
.icon-big-photo-camera:before {
  content: "\ebdd";
}
.icon-big-screen-ipad:before {
  content: "\ebde";
}
.icon-big-sd-card:before {
  content: "\ebdf";
}
.icon-big-sim-card:before {
  content: "\ebe0";
}
.icon-big-telescope:before {
  content: "\ebe1";
}
.icon-big-walkie-talkie:before {
  content: "\ebe2";
}
.icon-boom-box:before {
  content: "\ebe3";
}
.icon-cam-with-big-len:before {
  content: "\ebe4";
}
.icon-cd-writer:before {
  content: "\ebe5";
}
.icon-cloud-with-connection:before {
  content: "\ebe6";
}
.icon-coffee-maker:before {
  content: "\ebe7";
}
.icon-computer-set:before {
  content: "\ebe8";
}
.icon-copy-machine:before {
  content: "\ebe9";
}
.icon-digital-pen:before {
  content: "\ebea";
}
.icon-dvd-player:before {
  content: "\ebeb";
}
.icon-email-evelope:before {
  content: "\ebec";
}
.icon-equalizer:before {
  content: "\ebed";
}
.icon-fax-machine:before {
  content: "\ebee";
}
.icon-flashlight-on:before {
  content: "\ebef";
}
.icon-gamepad-with-cable:before {
  content: "\ebf0";
}
.icon-google-glasses:before {
  content: "\ebf1";
}
.icon-gps-with-placeholder:before {
  content: "\ebf2";
}
.icon-hands-free:before {
  content: "\ebf3";
}
.icon-hard-disk:before {
  content: "\ebf4";
}
.icon-headset:before {
  content: "\ebf5";
}
.icon-home-cinema:before {
  content: "\ebf6";
}
.icon-home-telephone:before {
  content: "\ebf7";
}
.icon-hoverboard:before {
  content: "\ebf8";
}
.icon-imac:before {
  content: "\ebf9";
}
.icon-inclined-pendrive:before {
  content: "\ebfa";
}
.icon-internet-modem:before {
  content: "\ebfb";
}
.icon-internet-server:before {
  content: "\ebfc";
}
.icon-internet-symbol:before {
  content: "\ebfd";
}
.icon-ipod-shuffle:before {
  content: "\ebfe";
}
.icon-keyboard-with-cable:before {
  content: "\ebff";
}
.icon-laser-machine:before {
  content: "\ec00";
}
.icon-lcd-screen:before {
  content: "\ec01";
}
.icon-little-calculator:before {
  content: "\ec02";
}
.icon-little-gameboy:before {
  content: "\ec03";
}
.icon-mac-pro:before {
  content: "\ec04";
}
.icon-mic-with-long-cable:before {
  content: "\ec05";
}
.icon-mobile-phone-with-touch-screen:before {
  content: "\ec06";
}
.icon-music-player-big-speaker:before {
  content: "\ec07";
}
.icon-network-conecction:before {
  content: "\ec08";
}
.icon-old-mic:before {
  content: "\ec09";
}
.icon-old-mobile-phone:before {
  content: "\ec0a";
}
.icon-old-tv:before {
  content: "\ec0b";
}
.icon-old-video-camera:before {
  content: "\ec0c";
}
.icon-open-laptop-with-shining-screen:before {
  content: "\ec0d";
}
.icon-paper-shredder:before {
  content: "\ec0e";
}
.icon-parabolic-dish-and-signal:before {
  content: "\ec0f";
}
.icon-photo-camera-flash:before {
  content: "\ec10";
}
.icon-polaroid-camera:before {
  content: "\ec11";
}
.icon-portable-scanner:before {
  content: "\ec12";
}
.icon-power-bank:before {
  content: "\ec13";
}
.icon-power-plug:before {
  content: "\ec14";
}
.icon-printing-documents:before {
  content: "\ec15";
}
.icon-projector-len:before {
  content: "\ec16";
}
.icon-psp-console:before {
  content: "\ec17";
}
.icon-radio-with-antenna:before {
  content: "\ec18";
}
.icon-ram-memory:before {
  content: "\ec19";
}
.icon-round-webcam:before {
  content: "\ec1a";
}
.icon-satellite-in-orbit:before {
  content: "\ec1b";
}
.icon-scanner-with-cover:before {
  content: "\ec1c";
}
.icon-security-cam:before {
  content: "\ec1d";
}
.icon-sega-gamepad:before {
  content: "\ec1e";
}
.icon-small-headphone:before {
  content: "\ec1f";
}
.icon-smart-watch:before {
  content: "\ec20";
}
.icon-space-rocket:before {
  content: "\ec21";
}
.icon-square-chip:before {
  content: "\ec22";
}
.icon-tee-power:before {
  content: "\ec23";
}
.icon-telephone-connector:before {
  content: "\ec24";
}
.icon-train-front-view:before {
  content: "\ec25";
}
.icon-tv-controller:before {
  content: "\ec26";
}
.icon-two-chat-bubbles:before {
  content: "\ec27";
}
.icon-typewriter-with-paper:before {
  content: "\ec28";
}
.icon-usb-cable:before {
  content: "\ec29";
}
.icon-vertical-battery-with-three-bars:before {
  content: "\ec2a";
}
.icon-vertical-iphone:before {
  content: "\ec2b";
}
.icon-washing-machine-with-water:before {
  content: "\ec2c";
}
.icon-wii-gamepad:before {
  content: "\ec2d";
}
.icon-wireless-mouse:before {
  content: "\ec2e";
}
