/**
* -----------------------------------------
* GENERAL
* -----------------------------------------
*/

body {
    background-color: #000!important;
}

p, span, a {
    color: rgba(255,255,255, 0.7);
}

h1,h2,h3,h4,h5 {
    color: rgba(255,255,255, 0.8);
}

html {
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body a,
body a:visited {
    text-decoration: none;
}

body:not(.custom-background-image):before,
body:not(.custom-background-image):after {
    height: 0;
}

iframe {
    margin-bottom: 0;
}

article iframe {
    height: 80vh;
}

@media screen and (max-width: 768px) {
    article iframe {
        height: 60vh;
    }
    
}

@media screen and (max-width: 504px) {
    article iframe {
        height: 40vh;
    }
    .intro-content {
        margin-bottom: 10px!important;
    }
}




p:empty {
    display: none;
}

.modal-open {
    padding: 0 !important;
}

.slick-slide,
.slick-slide::before,
.caption {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slick-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.site-main,
.site-main > article {
    margin-bottom: 0!important;
}


/**
* -----------------------------------------
* BACK TO TOP
* -----------------------------------------
*/

select {
    text-transform: capitalize;
}

#backTop {
    padding: 5px 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    cursor: pointer;
    z-index: 9999;
}

#backTop img {
    height: 40px;
    width: 40px;
    opacity: .5;
}

#backTop img:hover {
    opacity: 1;
}


/**
* -----------------------------------------
* HEADER
* -----------------------------------------
*/

.header-wrapper {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

.logo-wrapper {
    text-align: center;
    padding: 10px 0;
}

.logo-wrapper img {
    width: 150px;
}

.banner-wrapper {
    position: relative;
}


/**
* -----------------------------------------
* MENU BUTTON
* -----------------------------------------
*/

.menu-icon {
    position: absolute;
    top: 25px;
    left: 20px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;
    width: 45px;
    height: 20px;
    z-index: 1;
}

.menu-icon span {
    display: inline-block;
    background: #939393;
    height: 2px;
    width: 100%;
    position: absolute;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-icon span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.menu-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 29px;
    left: 8px;
}


/**
* -----------------------------------------
* SOCIAL ICONS
* -----------------------------------------
*/

.top-social,
.search-icon {
    position: absolute;
    top: 21px;
    right: 20px;
    z-index: 9999;
}

.top-social ul,
.search-icon ul {
    margin: 0;
    padding: 0;
}

.top-social ul li,
.search-icon ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.top-social ul li:last-child,
.search-icon ul li:last-child {
    margin-right: 0;
}

.top-social ul li a,
.search-icon ul li a:not([href]):not([tabindex]),
.search-icon ul li a {
    display: inline-block;
    
    font-size: 1.1rem;
    line-height: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.top-social ul li:hover a,
.search-icon ul li:hover a {
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.top-social ul li a span {
    display: none;
}

.top-social ul li a i {
    display: inline-block;
}

.top-social ul li a span {
    font-size: 20px;
    margin-left: 10px;
    
}

@media (max-width: 640px) {
    .top-social ul li a {
        font-size: 1.2rem;
    }
    .top-social {
        position: relative;
        top: inherit;
        right: inherit;
        z-index: 1;
        background: #222;
        padding: 5px 0;
        text-align: center;
        padding-bottom: 50px;
        display: block;
    }
}


/**
* -----------------------------------------
* MENU
* -----------------------------------------
*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.overlay.show {
    width: 100%;
}

.overlay-content ul li {
    list-style: none;
}


.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/**
* -----------------------------------------
* SLIDER
* -----------------------------------------
*/

.main-slider {
    position: relative;
    width: 100%;
    height: 52vw;
    min-height: 8vw;
    opacity: 0;
    visibility: hidden;
    transition: all 1.2s ease;
}

.main-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.main-slider.slick-initialized {
    opacity: 1;
    visibility: visible;
}

.slick-slide {
    position: relative;
    height: 52vw;
}

.slick-slide::before {
    background-color: #000;
    opacity: .3;
    z-index: 1;
}

.slick-slide video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slick-slide iframe {
    position: relative;
    pointer-events: none;
    max-width: inherit !important;
}

.slick-slide figure {
    position: relative;
    height: 100%;
}

.slick-slide .slide-image {
    opacity: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all .8s ease;
}

.slick-slide .slide-image.show {
    opacity: 1;
}

.slick-slide .image-entity {
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.slick-slide .loading {
    position: absolute;
    top: 44%;
    left: 0;
    width: 100%;
}

.slick-slide .slide-media {
    -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
    animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}

.slick-slide.slick-active {
    z-index: 1;
}

.slick-slide.slick-active .caption {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.slick-slide .featured-video-plus.fvp-center.post-thumbnail {
    margin:0;
}

.caption {
    position: absolute;
    width: 25vw;
    bottom: 20%;
    left: 36%;
    text-align: center;
    
    margin: 0;
    letter-spacing: .02em;
    opacity: 0;
    z-index: 1;
}

.play-btn {
    font-size: 3rem;
    display: inline-block;
    
    margin-bottom: 10px;
    position: absolute;
    bottom: 20%;
    right: 6%;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.play-btn:hover {
    text-decoration: none;
    color: #0eabe0;
}

.caption span {
    display: block;
    text-transform: uppercase;
}

.slick-dots {
    text-align: center;
    padding-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 30px;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    width: 5px;
    height: 5px;
}

.slick-dots li button {
    width: 5px;
    height: 5px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 0 transparent;
    vertical-align: middle;
    background-color: #ccc;
    transition: all .3s ease;
    opacity: .4;
}

.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover {
    opacity: 1;
}

.slick-dots li.slick-active button {
    opacity: 1;
    background: #939393;
}

.slick-prev,
.slick-next {
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 15%;
    font-size: 20px;
    
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    filter: alpha(opacity=50);
    margin: auto;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
    left: auto;
}

.slick-prev:before {
    content: '\ea23';
}

.slick-next:before {
    content: '\ea50';
}

.slick-prev:before,
.slick-next:before {
    font-family: 'icomoon';
    font-size: 3rem;
    color: #E5007D;
    opacity: 0.3;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.slick-prev:before:hover,
.slick-next:before:hover {
    
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.slick-dots li button:before {
    display: none;
}

@media (max-width: 768px) {
    .main-slider,
    .slick-slide {
        height: 60vw;
    }
}

@media (max-width: 767px) {
    .caption {
        bottom: 10%;
    }
    .caption a {
        font-size: 2rem;
    }
    .main-slider {
        height: 60vw;
    }
}

@media (max-width: 640px) {
    .slick-prev:before,
    .slick-next:before {
        font-size: 1.6rem;
    }
    .slick-dots {
        padding-top: 7px;
        bottom: -7px;
    }
    .slick-dots li,
    .slick-dots li button {
        width: 10px;
        height: 10px;
    }
    .caption {
        display: none;
    }
    .main-slider,
    .slick-slide {
        height: 70vw;
    }
}


/* ==========================================================================
    Atlas Grotesk Font Import
  ======================================================================= */


@font-face {
    font-family: 'AtlasGroteskRegular';
    src: url("../fonts/atlasgrotesk/AtlasGroteskRegular.eot");
    src: url("../fonts/atlasgrotesk/AtlasGroteskRegular.eot") format("embedded-opentype"), url("../fonts/atlasgrotesk/AtlasGroteskRegular.woff2") format("woff2"), url("../fonts/atlasgrotesk/AtlasGroteskRegular.woff") format("woff"), url("../fonts/atlasgrotesk/AtlasGroteskRegular.ttf") format("truetype"), url("../fonts/atlasgrotesk/AtlasGroteskRegular.svg") format("svg");
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    word-wrap: break-word;
    font-family: AtlasGroteskRegular, Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #939393;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: AtlasGroteskRegular;
    font-weight: 500;
    line-height: 1.1;
}

a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

#backTop {
    padding: 5px 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    cursor: pointer;
    z-index: 9999;
}

#backTop img {
    height: 40px;
    width: 40px;
    opacity: .5;
}

#backTop img:hover {
    opacity: 1;
}

.header-wrapper {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    /* padding: 20px 0; */
    background: none;
}

.logo-wrapper {
    width: 180px;
    margin: 0 auto;
    text-align: center;
}

.logo-wrapper img {
    width: 100%;
    
}

@media (max-width: 640px) {
    .logo-wrapper  {
        width: 40%;
    }
}

.banner-wrapper {
    position: relative;
    /*height: 75vh;*/
    /*overflow: hidden;*/
}

.menu-icon {
    position: absolute;
    top: 25px;
    left: 20px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;
    width: 35px;
    height: 20px;
    z-index: 1;
}

.menu-icon span {
    display: inline-block;
    background: #fff;
    height: 2px;
    width: 100%;
    position: absolute;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-icon span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.menu-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 23px;
    left: 8px;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content ul li {
    list-style: none;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #454545;
    display: block;
    transition: 0.3s;
    letter-spacing: 6px;
    line-height: 2.2;
}

.overlay a:hover,
.overlay a:focus {
    color: #7c7c7c;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.search-box .modal-dialog {
    z-index: 99999;
    margin: 15% auto !important;
}

.intro-wrapper {
    background: #000;
    padding: 25px 0 10px 0;
}

.intro-wrapper .custom-logo-link {
    width: 145px;
    margin: 0 auto;
}

.intro-wrapper .custom-logo-link img {
    width: 100%;
    height: auto;
}

.intro-content {
    text-align: center;
    margin: 25px 0 15px;
}

.footer-wrapper .intro-content {
    margin: 20px 0 25px;
}

.intro-content h2 {
    font-size: 22px;
    margin: 0 0 10px 0;
    padding: 0;
    color: #8f8f8f;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.intro-content hr {
    width: 45px;
}

.intro-content p {
    font-size: 14px;
    margin: 0 0 30px 0;
    padding: 0;
    
    line-height: 1.5;
}

.intro-content a {
    
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}



.no-results {
    margin-top: 8em;
    font-size: 20px; 
}

.services-wrapper {
    padding: 60px 0 75px 0;
    background: #000;
}

.works-page .services-grid .service-box {
    height: 210px;
}

.services-grid .service-box {
    position: relative;
    width: 33.33%;
    display: inline-block;
    overflow: hidden;
    opacity: 0.8;
    border: 1px solid #000;
    box-sizing: border-box;
}

.services-grid .service-box a {
    display: block;
    position: relative;
}

.services-grid .service-box img {
    height: 100%;
    width: 100%;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    max-width: inherit;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

.service-cap {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 15px;
    right: 0;
    width: 100%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

}

.service-cap h3,
.service-cap h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.service-cap h4 {
    margin-top: 8px;
    font-weight: normal;
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.services-grid .service-box:hover {
    opacity: 1;
}

.services-grid .service-box:hover img {
    opacity: .15;
    transform: scale(1.25) translateX(-50%);
    -webkit-transform: scale(1.25) translateX(-50%);
    -moz-transform: scale(1.25) translateX(-50%);
    -ms-transform: scale(1.25) translateX(-50%);
    -o-transform: scale(1.25) translateX(-50%);

}

.services-grid .service-box:hover .service-cap {
    bottom: 50%;
    transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    opacity: 1;
}

.services-grid .service-box:hover h4 {
    opacity: 1;
}

.lds-blocks {
    width: 7%;
    margin: 8.5em auto 10em;
}

.lds-blocks img {
    width: 100%;
    height: auto;
}

.more-vids {
    margin-top: 45px;
    text-align: center;
}

.more-vids a {
    
    font-size: 12px;
    padding: 8px 16px;
    margin: 0;
    text-decoration: none;
    border: solid 1px #939393;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .25s ease-in-out;
}

.more-vids a:hover {
    background: #939393;
    color: #111;
}

.services-grid {
    text-align: center;
}

.services-grid ul {
    margin: auto;
    padding: 0;
    font-size: 0;
}

.services-grid ul li {
    list-style: none;
}

.services-grid ul li {
    display: inline-block;
}

.services-grid ul li.service-box a {
    background: #000;
    width: 100%;
    height: 100%;
}

.services-grid ul li:hover.service-box:nth-child(1n) a {background:#e41973;}
.services-grid ul li:hover.service-box:nth-child(2n) a{background:#26afe3;}
.services-grid ul li:hover.service-box:nth-child(3n) a{background:#b3d42b;}
.services-grid ul li:hover.service-box:nth-child(4n) a{background:#6155ab;}




@media (max-width: 991px) {
    .services-grid ul li {
        width: 50%;
    }
    .services-wrapper .services-grid ul li {
        width: 49%;
    }
}

@media (max-width: 768px) {
    .services-wrapper .services-grid ul li {
        width: 80%;
    }
}

@media (max-width: 640px) {
    .services-grid ul li,
    .services-wrapper .services-grid ul li {
        width: 80%;
        height: auto!important;
        display: inline-block;
    }
    .services-wrapper .services-grid ul li img {
        max-height: none!important;
    }
}

@media (max-width: 500px) {
    .services-grid ul li,
    .services-wrapper .services-grid ul li {
        width: 100%;
        display: inline-block;
    }
}

/**
* -----------------------------------------
* FOOTER
* -----------------------------------------
*/

.footer-wrapper {
    padding: 50px 0;
}

.footer-content {
    text-align: center;
}

.footer-content h2 {
    font-size: 22px;
    margin: 0 0 10px 0;
    padding: 0;
    color: #ed1278;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.footer-content span {
    font-size: 2rem;
    margin: 15px auto 8px;
    width: 3%;
    display: table;
    line-height: 1.5;
}

.footer-content span:before {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition:         transform .6s ease-in-out;
    display: inline-block;
}

.footer-content span:hover:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.footer-content p {
    font-size: 14px;
    margin: 0 0 12px 0;
    padding: 0;
    
    line-height: 1.5;
}

@media (max-width: 640px) {
    .footer-wrapper {
        padding-bottom: 0;
    }
}


/* Back Pulse */

@-webkit-keyframes hvr-back-pulse {
    50% {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

@keyframes hvr-back-pulse {
    50% {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

.hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-back-pulse:hover,
.hvr-back-pulse:focus,
.hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #111;
    background-color: #111;
    color: white;
}

.subbanner-wrapper img {
    width: 100%;
}

.subpage-wrap {
    padding: 50px 0;
    background: #000;
}

.subpage-wrap h1 {
    color: #ed1278;
    margin: 0 0 1em 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 30px;
}

.subpage-wrap p {
    
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}

.subpage-wrap li {
    
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}


/* ABOUT PAGE */

.about-wrap {
    padding: 50px 0;
    background: #939393;
}

.about-wrap h1 {
    color: #ed1278;
    margin: 0 0 1em 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 30px;
}

.about-wrap p {
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}

.about-wrap li {
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}

.about-wrap .pagination>li {
    text-align: center;
}

.about-wrap .pagination>li>a,
.pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;
    background: #333;
    
    width: 35px;
    height: 35px;
    padding: 5px 12px;
}

.about-wrap .btn-group {
    margin-bottom: 15px;
}

.vid-thumbnail {
    margin-bottom: 20px;
}

.vid-thumbnail h1 {
    
    margin: 12px 0 0 0;
    padding: 0 10px 0 0;
    text-transform: capitalize;
    font-size: 14px;
}

.vid-thumbnail p {
    color: #ed1278;
    margin: 0;
    padding: 0 10px 0 0;
    text-transform: uppercase;
    font-size: 12px;
}

.vid-thumbnail h2 {
    color: #999;
    margin: 0;
    padding: 0 10px 0 0;
    text-transform: uppercase;
    font-size: 12px;
}

.vid-thumbnail .vid-img {
    background: #ed1278;
    transition: all .2s ease-in-out;
}

.vid-thumbnail img {
    transition: all .2s ease-in-out;
}

.vid-thumbnail:hover img {
    opacity: .25;
}

.subpage-wrap .pagination>li {
    text-align: center;
}

.subpage-wrap .pagination>li>a,
.pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;
    background: #333;
    
    width: 35px;
    height: 35px;
    padding: 5px 12px;
}

.subpage-wrap .btn-group {
    margin-bottom: 15px;
}

.sorting-btn {
    text-align: right;
}

ul.video-listing {
    margin: 0;
    padding: 0;
}

ul.video-listing li {
    list-style: none;
    display: inline-block;
    width: 33%;
    vertical-align: text-top;
}

.sidenav {
    margin-bottom: 2em;
}

.sidenav>ul {
    margin: 0;
    padding: 0;
}

.sidenav li {
    list-style: none;
}

.sidenav a {
    
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    border-bottom: dotted 1px #444;
}

.sidenav a.active,
.sidenav a:hover {
    background: #ed1278;
    
}

.lemon {
    padding: 2px 0;
    background: #000;
    text-align: center;
}

.lemon p {
    font-size: 12px;
    color: #999;
    padding: 0;
    margin: 6px 0;
    display: inline-block;
}

.lemon a {
    
    font-size: 12px;
}

.video-details {
    margin-top: 12px;
}

.video-details h1 {
    font-size: 20px;
    
    margin: 0;
    padding: 0;
}

.video-details p.director-name {
    font-size: 13px;
    color: #ed1278;
    margin: 0;
    padding: 0;
}

.video-details p.category-name {
    font-size: 13px;
    color: #999;
    margin: 0 0 15px;
    padding: 0;
}

.video-details p.description {
    font-size: 13px;
    
    margin: 0;
    padding: 0;
}

.share-video {
    margin-top: 20px;
}

.share-video .dropdown-menu span {
    width: 20px;
    font-size: 12px;
}

.share-video .dropdown-menu a {
    font-size: 12px;
}

.like-thumbnail {
    margin-bottom: 20px;
}

.like-thumbnail h1 {
    
    margin: 12px 0 0 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 14px;
}

.like-thumbnail p {
    color: #ed1278;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.like-thumbnail h2 {
    color: #999;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.like-thumbnail .like-img {
    background: #ed1278;
    transition: all .2s ease-in-out;
}

.like-thumbnail img {
    transition: all .2s ease-in-out;
}

.like-thumbnail:hover img {
    opacity: .25;
}


/* Contact Form */

.module-contact {
    padding: 50px 0;
}

.contact-form input,
.subpage-intro.video a.profile-btn {
    border: solid 1px #232323;
    background: #0d0d0d;
    box-shadow: none;
    
    text-transform: uppercase;
    display: inline-block;
}

.subpage-intro.video a.profile-btn {
    padding: 0.2em 0.4375em;
}

.contact-form input:focus {
    box-shadow: none;
    border-color: #ed1278;
}

.contact-form textarea {
    border: solid 1px #232323;
    background: #0d0d0d;
    box-shadow: none;
    
}

.contact-form textarea:focus {
    box-shadow: none;
    border-color: #ed1278;
}

.contact-form label {
    font-size: 14px;
    margin: 0 0 8px 0;
    padding: 0;
    color: #aaaaaa;
    width: 100%;
}

.contact-form button {
    margin-top: 8px;
    margin-right: 10px;
}

.form-buttons {
    text-align: left;
}

.contact-info {
    margin-bottom: 25px;
}

.contact-info h1 {
    font-size: 16px;
    margin: 0 0 5px 0;
    padding: 0;
    line-height: 1.5;
}

.contact-info p {
    font-size: 14px;
    margin: 0 0 15px 0;
    padding: 0;
}


/* News Manager */

.module-news {
    padding: 50px 0;
    background: #000;
}

.module-title h1 {
    font-size: 35px;
    margin: 0 0 30px 0;
    padding: 0;
    line-height: 1.5;
}

.news-sort {
    padding-top: 5px;
    text-align: right;
}

span.sort-down {
    margin-left: 10px;
}

h1.teaser-title a {
    font-size: 22px;
    margin: 0 0 15px 0;
    padding: 0;
}

.teaser-date {
    font-size: 12px;
    margin: 0 0 15px 0;
    padding: 0;
    
    letter-spacing: 2px;
    text-transform: uppercase;
}

.teaser-text {
    font-size: 15px;
    margin: 0 0 15px 0 !important;
    padding: 0;
    line-height: 1.5;
    
}

.teaser-link {
    font-size: 15px;
    margin: 0 0 15px 0;
    padding: 0;
    line-height: 1.5;
}

.videos-list {
    margin: 5px 5px 0 5px !important;
}

.icon-play {
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 2px #939393;
    border-radius: 100px;
    top: -100px;
    left: 46%;
}

.icon-play:before {
    content: "";
    width: 34px;
    height: 53px;
    border-left: 2px solid #939393;
    border-radius: 5px;
    position: absolute;
    top: 21px;
    left: 37px;
}

.icon-play:after {
    content: "";
    position: absolute;
    top: 27px;
    left: 19px;
    width: 42px;
    height: 42px;
    transform: rotate(45deg) skew(-5deg, -5deg);
    border-top: 2px solid #939393;
    border-right: 2px solid #939393;
    border-radius: 5px;
}

@media only screen and (max-width:1024px) {
    .trigger a {
        display: block;
    }
    #menu-desk {
        text-align: left;
    }
}

@media only screen and (max-width:767px) {
    .trigger a {
        top: 15px;
        right: 15px;
    }
    .overlay a {
        font-size: 20px;
    }
    ul.video-listing li {
        width: 90%;
    }
    ul.video-listing {
        text-align: center;
    }
    .sorting-btn {
        text-align: center;
        margin-bottom: 15px;
    }
    .carousel-caption img {
        width: 50px;
    }
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/**
* -----------------------------------------
* SEARCH MODAL
* -----------------------------------------
*/

.search-box.modal {
    z-index: 9999;
    -webkit-transform-style: '';
    transform-style: '';
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.search-box .modal-dialog {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    margin: 0 !important;
}

.search-box .modal-dialog .modal-body {
    flex: inherit;
    -webkit-box-flex: inherit;
    box-flex: inherit;
    height: 99vh;
}

.search-box .modal-dialog .modal-content {
    border-radius: 0;
    -webkit-border-radius: 0;
    background: rgba(255, 255, 255, .95);
}

.search-box .modal-dialog .modal-body form {
    margin: 0 20%;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.search-box .modal-dialog .modal-body form .input-group input {
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    padding: 0;
    padding-right: 2em;
    background: transparent;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, .87);
    border-radius: 0;
    -webkit-transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.5;
}

.search-box .modal-dialog .modal-body form .input-group {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    padding-bottom: 0.5em;
}

.search-box .modal-dialog .modal-body form .input-group button[type="submit"] {
    background: transparent;
    opacity: 0.5;
}

.search-box .modal-dialog .modal-body form .input-group button[type="submit"]:focus {
    outline: none;
}

.search-box .modal-dialog .modal-body form .input-group button[type="submit"] span {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .87);
}

.search-box .modal-dialog .modal-body form .input-group input:focus,
.search-box .modal-dialog .modal-body form .input-group input:focus~button[type="submit"] {
    opacity: 1;
}

.search-box .modal-dialog .modal-body button.close {
    background: #f0f0f0;
    padding: 14px 20px;
}

.search-box .modal-dialog .modal-body button.close span {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .search-box .modal-dialog .modal-body form {
        margin: 0 10%;
    }
}

.sp-only {
    display: none;
}

.pc-only {
    display: inline-block;
}

@media (max-width: 640px) {
    .sp-only {
        display: inline-block;
    }
    .top-social.sp-only {
        display: block;
    }
    .pc-only {
        display: none;
    }
}


/**
* -----------------------------------------
* CUSTOM DROP DOWN
* -----------------------------------------
*/

.filters {
    position: relative;
    text-align: center;
}

.filters.news {
    text-align: right;
    margin-top: 10px;
}

.custom-drop-wrap {
    display: inline-block;
    margin-right: 10px;
}

.custom-drop-wrap:last-child {
    margin-right: 35px;
}

.drop-down__button {
 
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    padding: 10px 25px 10px 30px;
    font-size: 0.8rem;
    cursor: pointer;
    line-height: 1;
    letter-spacing: 2px;
}

.drop-down__button:focus {
    outline: none;
}

.drop-down__button:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.drop-down__button span {
    font-size: 15px;
    margin-left: 10px;
}

.drop-down__button .drop-text {
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
}

.custom-drop-wrap:nth-child(1).drop-down--active.active .drop-text {
    color: #b6006e;
}

.custom-drop-wrap:nth-child(2).drop-down--active.active .drop-text {
    color: #0EAAE0;
}

.custom-drop-wrap:nth-child(3).drop-down--active.active .drop-text {
    color: #A9CE37;
}

.custom-drop-content ul li:nth-child(1n):hover,
.custom-drop-content ul li:nth-child(1n).active {
    color: #0EAAE0;
}

.custom-drop-content ul li:nth-child(2n):hover,
.custom-drop-content ul li:nth-child(2n).active {
    color: #b6006e;
}

.custom-drop-content ul li:nth-child(3n):hover,
.custom-drop-content ul li:nth-child(3n).active {
    color: #6451A3;
}

.custom-drop-content ul li:nth-child(4n):hover,
.custom-drop-content ul li:nth-child(4n).active {
    color: #A9CE37;
}

.icon-download {
    
    display: none;
}

.drop-down__button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    transition: box-shadow 0.3s ease, color 0.2s ease-in 0.4s;
}


.drop-down__button:after {

}

.custom-drop-content {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: transparent;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    
    opacity: 0;
    margin-top: 5px;
    z-index: 1;
    border-top: 1px solid #939393;
    border-bottom: 1px solid #939393;
    display: none;
}

.custom-drop-content ul {
    margin: 0;
    list-style: none;
}

.custom-drop-content:after {
    content: '';
    background-color: transparent;
}

.custom-drop-content ul li {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color:#939393;
    padding: 10px;
    line-height: 1.2;
}

.custom-drop-content ul li a {
    color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: block;
    line-height: 1.2;
}

.custom-drop-content ul li:last-of-type {
    border-bottom: 0;
}

.drop-down--active .custom-drop-content {
    display: block;
    opacity: 1;
    margin-top: 5px;
}

.custom-drop-content ul li:hover {
    color: #b6006e
}

.custom-drop-content ul li.child {
    display: none;
}

.custom-drop-content.child-cat {
    border: 1px solid transparent;
}

@media (max-width: 900px) {
    .custom-drop-wrap {
        margin-bottom: 15px;
    }
    .drop-down__button {
        
    }
}

@media (max-width: 768px) {
    .custom-drop-wrap {
        width: 100%;
        margin: 0!important;
    }
    .drop-down__button {
        padding: 10px;
    }
    .custom-drop-content {
        position: relative;
    }
}


/**
* -----------------------------------------
* SUBPAGE GENERAL STYLE FOR TITLE AND SUB DESC
* -----------------------------------------
*/

.director-desc h3 {
    color: rgba(255, 255, 255, 0.8);
}

.director-desc h3.name {
    font-size: 24px;
    margin-bottom: 10px;
}

.director-desc h3.award {
    font-size: 16px;
    margin: 10px 0;
}

.director-desc p {
    color: #a8a8a8;
    font-size: 15px;
}

.subpage-intro {
    text-align: center;
    margin-top: 2rem;
    display: block;
}

.subpage-intro h1,
.subpage-intro h2,
.subpage-intro h3 {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.subpage-intro.video {
    text-align: left;
}

.subpage-intro.video h2 {
    font-size: 16px;
}

.subpage-intro p, .subpage-intro p a {
    font-size: 14px;
}

.subpage-intro.video + .col-md-12 .subpage-intro h2 {
    font-size: 16px;
}

.subpage-intro.video + .col-md-12 .subpage-intro h2 + p {
    font-size: 14px;
}

.work .post-title {
    display: block!important;
    
}

.subpage-intro.search {
    text-align: left;
    margin-bottom: 0;
}

.subpage-intro.search h2 {
    font-size: 14px;
    margin: 20px;
    text-align: center;
}

.subpage-intro p,
.subpage-intro p a {
    display: block;
}

.subpage-intro p a {
    display: inline-block;
}

.subpage-intro.contact p,
.subpage-intro.video p,
.subpage-intro.video p a,
.subpage-intro.contact p a  {
    margin: 0;
}

.contact .subpage-intro.contact h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
}

.contact .subpage-intro.contact p {
    line-height: 2;
}

.post-123  .subpage-intro {
    font-size: .9em;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.post-123  .subpage-intro a {
    color: #bf2a64
}

@media (max-width: 768px) {
    .subpage-intro.video {
        padding: 0 15px;
    }
}


/**
* -----------------------------------------
* ABOUT US HOVER EFFECT
* -----------------------------------------
*/

.cover_boxes {
    position: relative;
    overflow: hidden
}

.cover_boxes ul {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
    width: 200%
}

.cover_boxes ul li {
    float: left;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    width: 265px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s
}

.cover_boxes.boxes_two ul li {
    width: 360px
}

.cover_boxes ul li.act,
.cover_boxes ul li .box {
    width: 530px
}

.cover_boxes ul li {
    opacity: .4;
}

.cover_boxes ul li.act {
    opacity: 1;
}

.cover_boxes.boxes_two ul li.act,
.cover_boxes.boxes_two ul li .box {
    width: 720px
}

.cover_boxes ul li .box .thumb {
    display: inline-block;
    float: left;
    height: 210px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    z-index: 10;
    width: 265px;
}

.cover_boxes.boxes_two ul li .box .thumb {
    width: 360px
}

.cover_boxes ul li .box .thumb img {
    display: block;
    position: relative;
    max-width: 100%;
}

.cover_boxes ul li .box .box_content {
    bottom: 0;
    left: 285px;
    position: absolute;
    padding: 0;
    width: 245px;
    z-index: 9;
    top: 0;
}

.cover_boxes.boxes_two ul li .box .box_content {
    left: 380px;
    width: 340px;
}

.cover_boxes ul li .box .box_content p {
    
    
    margin-bottom: 10px;
    font-size: .9em;
}

.cover_boxes ul li .box .box_content .cover_box_title {
    margin-bottom: 14px;
    
    
    font-size: 15.3px;
    letter-spacing: 1px;
}

.qbutton {
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    line-height: 44px;
    height: 44px;
    font-style: normal;
    font-weight: 700;
   
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    padding-left: 22px;
    padding-right: 22px;
}
.qbutton.small{
    font-size: 13px;
    line-height: 44px;
    height: 44px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}

.cover_boxes ul li .box .qbutton {
    margin: 26px 0 0;
    color: rgba(254,254,254,0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
    padding: 0;
}


.cover_boxes ul li .box .qbutton:hover {
    
}

.cover_boxes .qbutton {
    vertical-align: middle;
}

.cover_boxes .qbutton .cover_boxes_button_text {
    float: left;
}

.cover_boxes .qbutton .cover_boxes_button_icon {
    float: right;
    line-height: inherit;
    padding-left: 5px;
}

.cover_boxes ul li .box .separator.small {
    margin: 14px 0 16px;
    border-bottom: 1px solid #ffd300;
}

@media only screen and (max-width: 1200px) {
    .cover_boxes ul li,
    .cover_boxes ul li .box .thumb {
        width: 227px
    }
    .cover_boxes ul li.act,
    .cover_boxes ul li .box {
        width: 455px
    }
    .cover_boxes ul li .box .box_content {
        left: 247px;
        width: 207px
    }
    .cover_boxes.boxes_two ul li,
    .cover_boxes.boxes_two ul li .box .thumb {
        width: 310px
    }
    .cover_boxes.boxes_two ul li.act,
    .cover_boxes.boxes_two ul li .box {
        width: 620px
    }
    .cover_boxes.boxes_two ul li .box .box_content {
        left: 330px;
        width: 290px
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li,
    .paspartu_enabled .cover_boxes.boxes_two ul li .box .thumb {
        width: 290px
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li.act,
    .paspartu_enabled .cover_boxes.boxes_two ul li .box {
        width: 580px
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li .box .box_content {
        left: 310px;
        width: 270px
    }
}

@media only screen and (max-width: 1000px) {
    .cover_boxes ul {
        margin: 0 -8px 0 0
    }
    .cover_boxes ul li {
        margin-right: 8px
    }
    .cover_boxes ul li,
    .cover_boxes ul li .box .thumb {
        width: 187px
    }
    .cover_boxes ul li.act,
    .cover_boxes ul li .box {
        width: 374px
    }
    .cover_boxes ul li .box .box_content {
        left: 197px;
        width: 177px
    }
    .cover_boxes.boxes_two ul li,
    .cover_boxes.boxes_two ul li .box .thumb {
        width: 256px
    }
    .cover_boxes.boxes_two ul li.act,
    .cover_boxes.boxes_two ul li .box {
        width: 512px
    }
    .cover_boxes.boxes_two ul li .box .box_content {
        left: 266px;
        width: 246px
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li,
    .paspartu_enabled .cover_boxes.boxes_two ul li .box .thumb {
        width: 240px
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li.act,
    .paspartu_enabled .cover_boxes.boxes_two ul li .box {
        width: 480px
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li .box .box_content {
        left: 250px;
        width: 230px
    }
    .cover_boxes ul li .box .box_content p {
        max-height: 105px;
        overflow: hidden
    }
    .cover_boxes ul li .box .cover_box_title {
        margin: 0 0 5px
    }
    .cover_boxes ul li .box .qbutton,
    .cover_boxes ul li .box h5 {
        margin: 0;
        font-size: 16px;
    }
    .cover_boxes ul li .box .qbutton {
        display: inline-block;
        color: rgba(254,254,254,0.5);
    }
}

@media only screen and (max-width: 768px) {
    .cover_boxes ul li .box .box_content .cover_box_title {
        font-size: 25px;
    }
    .cover_boxes ul {
        width: 100%!important
    }
    .cover_boxes ul li {
        width: 100%!important;
        margin: 0 0 20px!important
    }
    .cover_boxes ul li,
    .cover_boxes ul li .box .thumb,
    .cover_boxes.boxes_two ul li,
    .cover_boxes.boxes_two ul li .box .thumb,
    .cover_boxes ul li .box .thumb img {
        width: 100%;
        float: none;
    }
    .cover_boxes ul li.act,
    .cover_boxes ul li .box,
    .cover_boxes.boxes_two ul li.act,
    .cover_boxes.boxes_two ul li .box,
    .paspartu_enabled .cover_boxes.boxes_two ul li.act,
    .paspartu_enabled .cover_boxes.boxes_two ul li .box {
        width: 100%
    }
    .cover_boxes ul li .box {
        padding: 20px;
        background: rgba(254,254,254,0.05);
        
    }
    .cover_boxes ul li {
        opacity: 1;
    }
    .cover_boxes ul li .box .box_content,
    .cover_boxes.boxes_two ul li .box .box_content {
        position: relative;
        left: 0;
        float: none;
        width: inherit;
        margin-top: 20px;
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li,
    .paspartu_enabled .cover_boxes.boxes_two ul li .box .thumb {
        width: 240px
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li .box .box_content {
        position: static;
        left: 0;
        float: right;
        width: 290px
    }
    .cover_boxes ul li .box .box_content p {
        height: auto;
        max-height: none;
        overflow: visible
    }
    .cover_boxes ul li .box .thumb {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .cover_boxes ul li,
    .cover_boxes ul li .box .thumb,
    .cover_boxes.boxes_two ul li,
    .cover_boxes.boxes_two ul li .box .thumb {
        width: 190px;
        margin: 0 auto;
    }
    .cover_boxes ul li .box .box_content,
    .cover_boxes.boxes_two ul li .box .box_content {
        width: 100%;
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li,
    .paspartu_enabled .cover_boxes.boxes_two ul li .box .thumb {
        width: 180px
    }
    .paspartu_enabled .cover_boxes.boxes_two ul li .box .box_content {
        width: 200px
    }
}

@media only screen and (max-width: 480px) {
    .cover_boxes ul li .box .box_content,
    .cover_boxes.boxes_two ul li .box .box_content,
    .paspartu_enabled .cover_boxes ul li .box .box_content,
    .paspartu_enabled .cover_boxes.boxes_two ul li .box .box_content {
        position: static;
        margin-top: 20px;
        width: 100%
    }
    .cover_boxes ul li.act {
        margin-bottom: 35px!important
    }
    .cover_boxes ul li .box .thumb img {
        width: 100%
    }
}


/**
* -----------------------------------------
* NEWS PAGE
* -----------------------------------------
*/

.news-list {
    margin-top: 2%;
}

.post_image a {
    display: block;
    position: relative;
}

.post_image a img {
    width: 100%;
}

.post_text_innerpost_text_inner {
    margin:20px 0;
}

.post_text_inner h3 a {
    font-size: 1rem;
    margin-bottom: 15px;
    color:rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-weight: normal;
}

.post_text_inner p {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.2;
}

.news-date {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    
    text-transform: uppercase;
    
    padding: 5px 10px;
}

.single-image {
    margin-bottom: 30px;
}

.single-content {
    color: #9f9f9f;
}

.date {
    font-size: .8em;
}

@media (max-width: 576px) {
    .post_text_inner {
        padding: 0 20px;
    }
    .filters.news {
        text-align: center;
        margin: 20px 0;
    }
    .post_text_inner h3 {
        font-size: 1.5rem;
    }
     .post_text_inner p {
        font-size: 1rem;
    }
}

/**
* -----------------------------------------
* CONTACT FORM
* -----------------------------------------
*/

.contact-form {
    
}

.contact-form input,
.subpage-intro.video a.profile-btn {
    font-size: 13px;
    display: inline-block;
}

.contact-form input:focus{
    background: none !important;
    color: rgba(254,254,254,0.6) !important;
}

.contact-form {
    font-size: 16px;
}

.contact-form .input-wrap {
    margin-bottom: 15px;
}
.contact-form input[type="submit"],
.subpage-intro.video a.profile-btn {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact-form input[type="submit"] {
    background: none;
    font-weight: normal
}

.contact-form input[type="submit"]:hover,
.subpage-intro.video a.profile-btn:hover {
    background: rgba(254,254,254,0.8);
    color: #000;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #ff0000;
    color: #ff0000;
}


/**
* -----------------------------------------
* NOT FOUND PAGE
* -----------------------------------------
*/

.not-found-wrap {
	
	margin-top: 50px;
}

.not-found-wrap {
    padding-bottom: 5%;
}

.not-found-wrap img {
	width: 50%;
}

.not-found-wrap .not-found-txt {
	margin-top: 30px;
}

.not-found-wrap .not-found-txt h1 {
	font-weight: 800;
	font-size: 30px;
	color: #363636;
}

.not-found-wrap .not-found-txt * {
	margin: 0;
	color: #999;
}

.not-found-wrap .not-found-txt p {
	margin-bottom: 10px;
	font-weight: 700;
}

.not-found-wrap .not-found-txt a {
	color: #363636;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
}

@media (max-width: 450px) {
	.not-found-wrap img {
		width: 80%;
	}
}

/**
* -----------------------------------------
* SINGLE VIDEO PAGE
* -----------------------------------------
*/

.vid-area {
    position: relative;
}

.no-vid {
    
    margin: 1em 0 2em;
    text-align: center;
}

.search-img {
    white-space: nowrap;
    display: block;
    position: relative;
    min-height: 165px!important;
}

.search-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: none;
}


.search-img:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.search-img img {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .search-img {

        min-height: auto;
    }
    
    .search-img img {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

/**
* -----------------------------------------
* PAGINATION
* -----------------------------------------
*/

.result-container {
    
    text-align: left;
    margin-top: 5em;
}

.pagination-container {
    margin-top: 5em;
}

.pagination {
    text-align: right;
    margin: 0;
    display: block;
    border:0;
    min-height: inherit;
    width: 100%;
}
.pagination:before, .pagination:after {
    display: none;
}
.pagination .prev {
    right: inherit;
}
.pagination .page-numbers{
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    margin: 0 3px;
    padding: 0;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    text-shadow: none;
    -webkit-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    box-sizing: content-box;
    background-color: #f2f2f2;
    border-radius: 0;
    border: 0 solid #f2f2f2;
   
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    color: #171717
}
.pagination .page-numbers:before,
.pagination .page-numbers:after{
    font-family: 'FontAwesome';
    font-size: 14px;
    right: inherit;
    top: inherit;
    height: inherit;
    line-height: 3.2;
    width: inherit;
}

.pagination .page-numbers.prev:before {
    content:"\f104";
}
.pagination .page-numbers.next:before {
    content:"\f105";
}

.pagination span.page-numbers {
    color:#EB1176;
}

.pager-news {
    width: 100%;
}

.pager-news a,
.pager-news span {
    margin: 0 10px;
}

.pager-news a {
    
}

.pager-news span {
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
    .result-container,
    .pagination-container .pagination {
        text-align: center;
    }
}

/**
* -----------------------------------------
* NAV-LINKS
* -----------------------------------------
*/
.post-navigation,
.post-navigation div + div {
    border:0;
}
.post-navigation div + div {
    max-width: 50vw;
}
.post-navigation {
    border-top: 1px solid rgba(254,254,254,0.5);
    margin: 0;
    margin-top: 1rem;
}
.nav-links {
    display: block;
    overflow: hidden;
}
.nav-links .nav-previous{
    float: left;
}
.post-navigation .meta-nav {
    color: rgba(254,254,254,0.7);
    margin-bottom: 0;
    
}
.post-navigation .nav-links .meta-nav:before,
.post-navigation .nav-links .meta-nav:after {
    font-family: "FontAwesome";
    color: rgba(254,254,254,0.7);
    margin-right: 10px;
}
.post-navigation .nav-links .nav-previous .meta-nav:before {
    content:'\f177';
}
.post-navigation .nav-links .nav-next .meta-nav:after {
    content:'\f178';
    margin-right: 0;
    margin-left: 10px;
}
.nav-links .nav-next{
    float: right;
    text-align: right;
}
.post-navigation .post-title {
    color: rgba(254,254,254,0.5);
    
}

@media screen and (min-width: 44.375em) {
    .post-navigation {
        margin: 0;
        margin-top: 1rem;
    }
    .post-navigation .post-title {
        font-size: .8rem
    }
    .post-navigation .meta-nav {
        margin-bottom: 0;
    }
    .post-navigation .post-title {
        font-weight: normal;
    }
}

@media screen and (max-width: 576px){
    .post-navigation .post-title {
        display: none;
    }
}


.menu-social {
    margin-top: 30px;
}

.menu-social li {
    display: inline-block;
    margin: 0 15px;
    width: 2.5%;
}

.menu-social li a {
    border: 1px solid #454545;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 1.6;
}

.rotate img {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition:         transform .6s ease-in-out;
    display: block;
}

.rotate:hover img {
-webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          
}

.team-image {
    opacity: 0;
    margin: 20px 0 0 0;
}

.team-image.act {
    opacity: 1;
}

.team-image li {
    display: inline-block;
    width: 100%;
}

.team-image li .image-cont {
    width: 50%;
    margin: 0 5px 5px 0;
    max-height: 200px;
    overflow: hidden;
}

.team-image li p {
    display: inline-block;
    vertical-align: top;
}

.team-image li img {
    width: 100%;
    height: auto;
}

.team-image li p {
    font-size: .9em;
}

.path1 {
	stroke-dasharray: 900;
	stroke-dashoffset: 1200;
	animation: dash1 3s infinite;
}

.path2 {
	stroke-dasharray: 400;
	stroke-dashoffset: 1200;
	transition-delay: .2s;
	animation: dash1 3s infinite;
}

.path3 {
	stroke-dasharray: 500;
	stroke-dashoffset: 1200;
	transition-delay: .3s;
	animation: dash1 3s infinite;
}

@keyframes dash1 {
	from {
		stroke-dashoffset: 1100;
	
	}
	to {
		stroke-dashoffset: 0;
	
	}
}
